<div id="login-screen">
    <h1>Welcome to the pizza ordering app</h1>
    <p>Please login to continue.</p>

<form class="user-info" [formGroup]="loginInfo" (submit)="onSubmit()">
    <div>
    <label for="username">Username: </label>
    <input id="username" type="text" formControlName="username" placeholder="Username" matInput required>
</div>
<div>
    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password" placeholder="Password" matInput required>
</div>
    <button type="submit" [disabled]="!loginInfo.valid">Submit</button>
</form>

</div>