

.section {
   display: block;
}

.new-order-container {
   margin-bottom: 20px;
   .button-group {
      margin: auto;
      padding: 10px;
      display: inline-block;
   }
   h2 {
      display: inline-block;
   }
}
  