.pizza {
    border: black solid 1px;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
    display: inline-block;
    justify-content: center;
    width: 220px;
    height: 300px;
    position: relative;
    background-color: rgba(#f3f3f3, .5);
}
.pizza p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;

    span {
      font-weight: lighter;
    }
}

div .x {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: rgba(100, 100, 100, .5);
    position: absolute;
    bottom: 20px;
    left: 90px;
    cursor: pointer;
  }

  div .x:hover {
    color: white;
    font-weight: bold;
  }

  .size {
    margin-bottom: 0;
  }
  div .large {
    height: 90px;
    width: 90px;
    background-color: #fff000;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #ffa000
  }

  div .medium {
    height: 60px;
    width: 60px;
    background-color: #fff000;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #ffa000;
    margin-top: 24px;
  }

  div .small {
    height: 45px;
    width: 45px;
    background-color: #fff000;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #ffa000;
    margin-top: 30px;

  }